@font-face {
    font-family: Raleway;
    src: url("fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: Poppins-reg;
    src: url("fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Poppins-med;
    src: url("fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-reg;
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 52px;
    width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 88px;
}

.logo__img {
    padding-top: 5px;
    padding-right: 14px;
}

.step__line {
    padding-bottom: 10px;
}

.logo__text {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #242731;
}

.step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.close {
    padding-right: 54px;
    cursor: pointer;
}

.content {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.content__text--header {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #242731;
}

.content__text {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #575F6E;

}

.lock {
    display: flex;
    background-color: #F0F2F4;
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
}

.lock-text {
    font-family: 'Poppins-reg', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #242426;

}

.lock__close {
    padding-left: 24px;
    cursor: pointer;
}

.form__num {
    border: 1px solid #E2E4E5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.num__text {
    font-family: 'Poppins-reg', serif;
    padding: 32px 0 0 32px;
}

.form__num--label {
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
}

.prefix {
    font-family: 'Roboto-reg', serif;
    padding-left: 32px;
}

.prefix__select {
    border: 1px solid #E2E4E5;
    padding: 16px 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.form__num--input {
    font-family: 'Roboto-reg', serif;
    border: 1px solid #E2E4E5;
    padding-left: 16px;
    width: 280px;
    margin-right: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.form__button {
    font-family: 'Poppins-med', serif;
    margin-top: 32px;
    border: 1px solid #BBBFC1;
    border-radius: 4px;
    padding: 12px 24px;
    background-color: #FFFFFF;
    cursor: pointer;
}